
__pycache__/
.ipynb_checkpoints/

*.vcd

CPU6TestBench
TopTestBench
DiagTestBench
*.bin
*.rpt
*.fs
*.json
PsramTB
MapFailTB
opcodes.yaml
ProgramTB
DmaTB
HawkTB
SdTB
sd_pattern.hex
sd_fat32.hex
Fat32TB
sd_fat32frag.hex
DiskTB
sd_real.hex
real_raw.hex
sd_centos.hex
centos_raw.hex
sd_fat32long.hex
