IO_LOC  "clock_100MHz" 52;
IO_PORT "clock_100MHz" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LED1" 10;
IO_PORT "LED1" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED2" 11;
IO_PORT "LED2" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED3" 13;
IO_PORT "LED3" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED4" 14;
IO_PORT "LED4" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED5" 15;
IO_PORT "LED5" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED6" 16;
IO_PORT "LED6" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;

IO_LOC  "uartTx" 17;
IO_PORT "uartTx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uartRx" 18;
IO_PORT "uartRx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
